<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section>
        <div align="center">
            <form action="">
            <label for="">username</label>
            <label for=""><input type="text"></label>
            <label for="">password</label>
            <label for=""><input type="text"></label>
            <label for=""><input type="submit" value="submit"></label>
        </form>
        </div>
    </section>
</body>
</html>